

.selected-goal {
    width: 100%;
    margin: 0 20px;
}


.selected-goal header {
    border: 1px solid white;
    border-radius: 10px;;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative; 

}

.selected-goal button {
    max-width: 150px;
    margin-left: auto;
}