

.sidebar__goal-list {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}

.sidebar__goal-list li {
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;

    border: 1px solid #a49786;
    border-radius: 5px;
    margin-bottom: 5px;
}
    
.sidebar__goal-list li:hover {
    border: 1px solid white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}